<div class="row">
  <div class="col-md-6">
    <h2>New Post</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">Title:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Content:</label>
        <textarea class="form-input" rows="5" cols="30" id="password-login"></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">submit</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/post.js"></script>

